**<span style="font-size:30px;">IMDB Movies and Studios Analysis</span>**

![Alt text](Images\imdb.jpg)

**<span style="font-size:20px;">Overview</span>**

This data analysis study project aims to explore the fascinating world of film to learn more about the domain of well-known movies and their commercial success. It goes beyond simple popularity to look at the box office performance patterns of blockbuster movies in an effort to identify the elements that led to their enormous success in regards to both its spread and revenues both locally and internationally.Descriptive analysis on the movies' domestic and foreign gross revenues and each studio that made the movies through data primarily fetched from IMDB

**<span style="font-size:20px;">Business Understanding</span>**

![Alt text](Images\960x0.jpg)

Microsoft may be able to get a considerable amount of revenue and popularity from their first movie.This may in turn create a snowballing effect thus giving it a much larger platform to make even better movies both in terms of quality and quantity.They may be able to bring up a TV Show if the first movie makes a major hit. To do this the data needed to be carefully analysed is how the best movies in the field actually did it,identifying whether the determining factor was the director of said films or the genres which are most popular in the industry recently. These are all key factors for a new and original movie studio.Using the data fetched from imdb,one of the best online movie databases out there,coupled with box office movies identified below are some of the best and top grossing movies recently made together with the most popular genres are displayed.

**<span style="font-size:20px;">Data Understanding</span>**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import sqlite3

Called the bom.movie_gross.csv file and checked out the first five tables to get an idea of what data is in the file and the info in it

In [2]:
bom_movie = pd.read_csv('bom.movie_gross.csv')
bom_movie.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [4]:
bom_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

As shown above there are some missing values in the studio,domestic gross and foreign gross columns
The title and year columns are all filled
The null values in the studio column though are very little so we'll check those out first and see if we can drop them

In [7]:
bom_movie.loc[bom_movie['studio'].isna() == True]

                              title studio  domestic_gross foreign_gross  year
210   Outside the Law (Hors-la-loi)    NaN         96900.0       3300000  2010
555         Fireflies in the Garden    NaN         70600.0       3300000  2011
933           Keith Lemon: The Film    NaN             NaN       4000000  2012
1862                 Plot for Peace    NaN          7100.0           NaN  2014
2825               Secret Superstar    NaN             NaN     122000000  2017

As seen above the movies that have studio as null values have made very little money when compared to the majority of the movies in the file and so it shall be dropped

In [13]:
bom_movie = bom_movie.dropna(subset='studio')

After dropping said rows.Lets checkout the top movies based off of their foreign_gross and domestic gross group them by the studio that prodced them but foreign_gross is in string format so we should first convert to a float.We would strip all the commas from the strings in foreign gross and then convert them to float and replace the values with the new float values this will make it easier when using aggregate functions

In [22]:
bom_movie['foreign_gross'] = bom_movie['foreign_gross'].str.replace(',','')
bom_movie['foreign_gross'] = pd.to_numeric(bom_movie['foreign_gross'])

After fixing up the data type of the foreign gross column the next step would be to sort out the values to pick out the top ten movies based off of foreign gross that the movie earned

In [26]:
top_10_movies_revenue = bom_movie.sort_values(by=['foreign_gross','domestic_gross'], ascending=[False,False]).head(10)
top_10_movies_revenue

,title,studio,domestic_gross,foreign_gross,year
328,Harry Potter and the Deathly Hallows Part 2,WB,381000000.0,960500000.0,2011
1875,Avengers: Age of Ultron,BV,459000000.0,946400000.0,2015
727,Marvel's The Avengers,BV,623400000.0,895500000.0,2012
3081,Jurassic World: Fallen Kingdom,Uni.,417700000.0,891800000.0,2018
1127,Frozen,BV,400700000.0,875700000.0,2013
2764,Wolf Warrior 2,HC,2700000.0,867600000.0,2017
1477,Transformers: Age of Extinction,Par.,245400000.0,858600000.0,2014
1876,Minions,Uni.,336000000.0,823400000.0,2015
3083,Aquaman,WB,335100000.0,812700000.0,2018
1128,Iron Man 3,BV,409000000.0,805800000.0,2013

In [3]:
movie_info = pd.read_csv('rt.movie_info.tsv', delimiter='\t')
movie_info.head(10)

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
5,8,The year is 1942. As the Allies unite overseas...,PG,Drama|Kids and Family,Jay Russell,Gail Gilchriest,"Mar 3, 2000","Jul 11, 2000",NaN,NaN,95 minutes,Warner Bros. Pictures
6,10,Some cast and crew from NBC's highly acclaimed...,PG-13,Comedy,Jake Kasdan,Mike White,"Jan 11, 2002","Jun 18, 2002",$,"41,032,915",82 minutes,Paramount Pictures
7,13,"Stewart Kane, an Irishman living in the Austra...",R,Drama,Ray Lawrence,Raymond Carver|Beatrix Christian,"Apr 27, 2006","Oct 2, 2007",$,"224,114",123 minutes,Sony Pictures Classics
8,14,"""Love Ranch"" is a bittersweet love story that ...",R,Drama,Taylor Hackford,Mark Jacobson,"Jun 30, 2010","Nov 9, 2010",$,"134,904",117 minutes,NaN
9,15,When a diamond expedition in the Congo is lost...,PG-13,Action and Adventure|Mystery and Suspense|Scie...,Frank Marshall,John Patrick Shanley,"Jun 9, 1995","Jul 27, 1999",NaN,NaN,108 minutes,NaN

In [4]:
movie_reviews = pd.read_csv('rt.reviews.tsv', delimiter='\t', encoding='latin-1')
movie_reviews.loc[movie_reviews['id'] == 863].head(10)

Empty DataFrame
Columns: [id, review, rating, fresh, critic, top_critic, publisher, date]
Index: []

In [5]:
tmovies = pd.read_csv('tmdb.movies.csv')
tmovies_sort1 = tmovies.sort_values(by=['vote_average','popularity'], ascending=False)
tmovies_sort1_id = tmovies_sort1.loc[:,'original_title'].tolist()
tmovies_sort1.head(5)

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
17576,17576,"[28, 80]",408112,en,Buffed Up,9.973,2016-07-11,Buffed Up,10.0,1
24326,24326,"[16, 12]",561974,ko,점박이 한반도의 공룡 2: 새로운 낙원,7.941,2018-12-31,Dino King 3D: Journey to Fire Mountain,10.0,3
24386,24386,[99],517686,en,The Russian Five,7.493,2018-04-11,The Russian Five,10.0,1
24612,24612,[99],541576,en,Meeting Gorbachev,5.870,2019-05-03,Meeting Gorbachev,10.0,3
24745,24745,"[18, 53, 9648, 10770]",548682,en,No One Would Tell,4.904,2018-09-16,No One Would Tell,10.0,2

In [107]:
imdblist = pd.read_sql("""SELECT *
FROM movie_basics
JOIN movie_ratings USING(movie_id)
""",conn)
#imdbb = imdbb.drop(, axis=1)
tmovies_sort1 = tmovies_sort1.drop_duplicates()
imdbb = pd.merge(tmovies_sort1, imdblist,on='original_title')
imdbb = imdbb.drop(['genre_ids','id','Unnamed: 0'], axis=1)

In [110]:
imdbb.sort_values(['averagerating','numvotes'], ascending=False).drop_duplicates().head(5)

,original_language,original_title,popularity,release_date,title,vote_average,vote_count,movie_id,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes
47,en,A Mediocre Documentary with Tom And Dan,1.551,2018-05-03,A Mediocre Documentary with Tom And Dan,10.0,1,tt7724146,A Mediocre Documentary with Tom And Dan,2018,79.0,"Comedy,Documentary",9.8,5
61,en,Love on a Leash,1.400,2013-08-13,Love on a Leash,10.0,7,tt1740810,Love on a Leash,2010,10.0,"Documentary,Family,Romance",9.7,25
8735,en,Submission,4.975,2018-03-02,Submission,6.0,8,tt4824256,Blackbear,2019,94.0,"Drama,Sport",9.7,6
569,en,"Hare Krishna! The Mantra, the Movement and the...",0.600,2017-06-16,"Hare Krishna! The Mantra, the Movement and the...",10.0,1,tt6842524,"Hare Krishna! The Mantra, the Movement and the...",2017,90.0,Documentary,9.5,829
4790,en,Finger of God 2,0.600,2018-12-04,Finger of God 2,7.0,1,tt9397492,Finger of God 2,2018,91.0,Documentary,9.5,8

In [50]:

#cur = conn.cursor()
%load_ext sql
%sql sqlite:///im.db
conn = sqlite3.connect('im.db')

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [57]:
%%sql
SELECT *
FROM movie_basics
LIMIT 35;

 * sqlite:///im.db
Done.

[('tt0063540', 'Sunghursh', 'Sunghursh', 2013, 175.0, 'Action,Crime,Drama'),
 ('tt0066787', 'One Day Before the Rainy Season', 'Ashad Ka Ek Din', 2019, 114.0, 'Biography,Drama'),
 ('tt0069049', 'The Other Side of the Wind', 'The Other Side of the Wind', 2018, 122.0, 'Drama'),
 ('tt0069204', 'Sabse Bada Sukh', 'Sabse Bada Sukh', 2018, None, 'Comedy,Drama'),
 ('tt0100275', 'The Wandering Soap Opera', 'La Telenovela Errante', 2017, 80.0, 'Comedy,Drama,Fantasy'),
 ('tt0111414', 'A Thin Life', 'A Thin Life', 2018, 75.0, 'Comedy'),
 ('tt0112502', 'Bigfoot', 'Bigfoot', 2017, None, 'Horror,Thriller'),
 ('tt0137204', 'Joe Finds Grace', 'Joe Finds Grace', 2017, 83.0, 'Adventure,Animation,Comedy'),
 ('tt0139613', 'O Silêncio', 'O Silêncio', 2012, None, 'Documentary,History'),
 ('tt0144449', 'Nema aviona za Zagreb', 'Nema aviona za Zagreb', 2012, 82.0, 'Biography'),
 ('tt0146592', 'Pál Adrienn', 'Pál Adrienn', 2010, 136.0, 'Drama'),
 ('tt0154039', 'So Much for Justice!', 'Oda az igazság', 2010, 100.0, 'History'),
 ('tt0159369', 'Cooper and Hemingway: The True Gen', 'Cooper and Hemingway: The True Gen', 2013, 180.0, 'Documentary'),
 ('tt0162942', 'Children of the Green Dragon', 'A zöld sárkány gyermekei', 2010, 89.0, 'Drama'),
 ('tt0170651', 'T.G.M. - osvoboditel', 'T.G.M. - osvoboditel', 2018, 60.0, 'Documentary'),
 ('tt0176694', 'The Tragedy of Man', 'Az ember tragédiája', 2011, 160.0, 'Animation,Drama,History'),
 ('tt0187902', "How Huang Fei-hong Rescued the Orphan from the Tiger's Den", "How Huang Fei-hong Rescued the Orphan from the Tiger's Den", 2011, None, None),
 ('tt0192528', 'Heaven & Hell', 'Reverse Heaven', 2018, 104.0, 'Drama'),
 ('tt0230212', 'The Final Journey', 'The Final Journey', 2010, 120.0, 'Drama'),
 ('tt0247643', 'Los pájaros se van con la muerte', 'Los pájaros se van con la muerte', 2011, 110.0, 'Drama,Mystery'),
 ('tt0249516', 'Foodfight!', 'Foodfight!', 2012, 91.0, 'Action,Animation,Comedy'),
 ('tt0250404', 'Godfather', 'Godfather', 2012, None, 'Crime,Drama'),
 ('tt0253093', 'Gangavataran', 'Gangavataran', 2018, 134.0, None),
 ('tt0255820', 'Return to Babylon', 'Return to Babylon', 2013, 75.0, 'Biography,Comedy,Drama'),
 ('tt0262218', 'Akakis mogzauroba', 'Akakis mogzauroba', 2012, 44.0, 'Documentary'),
 ('tt0262759', 'Seven Jews from My Class', 'Siedmiu Zydów z mojej klasy', 2018, 40.0, 'Documentary'),
 ('tt0263814', 'On kadin', 'On kadin', 2019, None, 'Drama'),
 ('tt0276568', 'To Chase a Million', 'To Chase a Million', 2018, 97.0, 'Action,Drama'),
 ('tt0277964', 'Prague: The Restless Heart of Europe', 'Praha - neklidné srdce Evropy', 2018, 59.0, 'Documentary,History'),
 ('tt0283440', 'Short Time Heroes', 'Kurzzeithelden', 2015, 45.0, 'Sci-Fi'),
 ('tt0285252', "Life's a Beach", "Life's a Beach", 2012, 100.0, 'Comedy'),
 ('tt0285423', 'Abolição', 'Abolição', 2019, None, 'Documentary'),
 ('tt0293069', 'Dark Blood', 'Dark Blood', 2012, 86.0, 'Thriller'),
 ('tt0293429', 'Mortal Kombat', 'Mortal Kombat', 2021, None, 'Action,Adventure,Fantasy'),
 ('tt0297400', 'Snowblind', 'Snowblind', 2015, None, 'Crime,Drama')]

In [1]:
def readsql(query):
    return pd.read_sql(query, conn)

In [65]:

%%sql
/* Highest Rated Movies based of of AvgRating and Number of votes */
SELECT *
FROM movie_basics
JOIN movie_ratings USING(movie_id)
WHERE movie_id IN (SELECT movie_id
FROM movie_ratings
ORDER BY 'averagerating','numvotes' DESC
LIMIT 10)

 * sqlite:///im.db
Done.

[('tt10356526', 'Laiye Je Yaarian', 'Romance', 8.3),
 ('tt10384606', 'Borderless', 'Documentary', 8.9),
 ('tt1042974', 'Just Inès', 'Drama', 6.4),
 ('tt1043726', 'The Legend of Hercules', 'Action,Adventure,Fantasy', 4.2),
 ('tt1060240', 'Até Onde?', 'Mystery,Thriller', 6.5),
 ('tt1069246', 'Habana Eva', 'Comedy,Romance', 6.2),
 ('tt1094666', 'The Hammer', 'Biography,Drama,Sport', 7.0),
 ('tt1130982', 'The Night Clerk', 'Drama,Thriller', 6.4),
 ('tt1156528', 'Silent Sonata', 'Drama,War', 7.2),
 ('tt1161457', 'Vanquisher', 'Action,Adventure,Sci-Fi', 4.2)]

In [77]:
%%sql
SELECT *
FROM movie_akas
LIMIT 10;

 * sqlite:///im.db
Done.

[('tt0369610', 10, 'Джурасик свят', 'BG', 'bg', None, None, 0.0),
 ('tt0369610', 11, 'Jurashikku warudo', 'JP', None, 'imdbDisplay', None, 0.0),
 ('tt0369610', 12, 'Jurassic World: O Mundo dos Dinossauros', 'BR', None, 'imdbDisplay', None, 0.0),
 ('tt0369610', 13, 'O Mundo dos Dinossauros', 'BR', None, None, 'short title', 0.0),
 ('tt0369610', 14, 'Jurassic World', 'FR', None, 'imdbDisplay', None, 0.0),
 ('tt0369610', 15, 'Jurassic World', 'GR', None, 'imdbDisplay', None, 0.0),
 ('tt0369610', 16, 'Jurassic World', 'IT', None, 'imdbDisplay', None, 0.0),
 ('tt0369610', 17, 'Jurski svijet', 'HR', None, 'imdbDisplay', None, 0.0),
 ('tt0369610', 18, "Olam ha'Yura", 'IL', 'he', 'imdbDisplay', None, 0.0),
 ('tt0369610', 19, 'Jurassic World: Mundo Jurásico', 'MX', None, 'imdbDisplay', None, 0.0)]